<test.xml>
<class>
  <keyword> class </keyword>
  <identifier> Square </identifier>
  <symbol> { </symbol>
  <classVarDec>
    <keyword> static </keyword>
    <keyword> int </keyword>
    <identifier> i </identifier>
    <symbol> , </symbol>
    <identifier> j </identifier>
    <symbol> ; </symbol>
  </classVarDec>
  <classVarDec>
    <keyword> field </keyword>
    <keyword> char </keyword>
    <identifier> c </identifier>
    <symbol> ; </symbol>
  </classVarDec>
  <classVarDec>
    <keyword> static </keyword>
    <identifier> string </identifier>
    <identifier> s </identifier>
    <symbol> ; </symbol>
  </classVarDec>
  <classVarDec>
    <keyword> field </keyword>
    <keyword> boolean </keyword>
    <identifier> u </identifier>
    <symbol> , </symbol>
    <identifier> v </identifier>
    <symbol> , </symbol>
    <identifier> w </identifier>
    <symbol> , </symbol>
    <identifier> x </identifier>
    <symbol> , </symbol>
    <identifier> y </identifier>
    <symbol> , </symbol>
    <identifier> z </identifier>
    <symbol> ; </symbol>
  </classVarDec>
  <subroutineDec>
    <keyword> method </keyword>
    <keyword> void </keyword>
    <identifier> test </identifier>
    <symbol> ( </symbol>
    <keyword> int </keyword>
    <identifier> x </identifier>
    <symbol> , </symbol>
    <keyword> int </keyword>
    <identifier> y </identifier>
    <symbol> , </symbol>
    <keyword> char </keyword>
    <identifier> ctest </identifier>
    <symbol> ) </symbol>
    <subroutineBody>
      <symbol> { </symbol>
      <localVarDec>
        <keyword> var </keyword>
        <keyword> int </keyword>
        <identifier> a </identifier>
        <symbol> , </symbol>
        <identifier> b </identifier>
        <symbol> , </symbol>
        <identifier> c </identifier>
        <symbol> ; </symbol>
      </localVarDec>
      <localVarDec>
        <keyword> var </keyword>
        <identifier> Array </identifier>
        <identifier> A </identifier>
        <symbol> , </symbol>
        <identifier> B </identifier>
        <symbol> , </symbol>
        <identifier> C </identifier>
        <symbol> ; </symbol>
      </localVarDec>
      <classStatements>
        <letStatement>
          <keyword> let </keyword>
          <term>
            <identifier> A </identifier>
            <symbol> [ </symbol>
            <expression>
              <term>
                <integerConstant> 1 </integerConstant>
              </term>
            </expression>
            <symbol> ] </symbol>
          </term>
          <symbol> = </symbol>
          <expression>
            <term>
              <integerConstant> 25 </integerConstant>
            </term>
            <symbol> - </symbol>
            <term>
              <identifier> a </identifier>
            </term>
          </expression>
          <symbol> ; </symbol>
        </letStatement>
        <letStatement>
          <keyword> let </keyword>
          <term>
            <identifier> A </identifier>
            <symbol> [ </symbol>
            <expression>
              <term>
                <identifier> d </identifier>
              </term>
            </expression>
            <symbol> ] </symbol>
          </term>
          <symbol> = </symbol>
          <expression>
            <term>
              <identifier> c </identifier>
            </term>
            <symbol> - </symbol>
            <term>
              <symbol> ( </symbol>
              <expression>
                <term>
                  <integerConstant> 3 </integerConstant>
                </term>
                <symbol> + </symbol>
                <term>
                  <identifier> a </identifier>
                </term>
              </expression>
              <symbol> ) </symbol>
            </term>
          </expression>
          <symbol> ; </symbol>
        </letStatement>
        <letStatement>
          <keyword> let </keyword>
          <term>
            <identifier> A </identifier>
            <symbol> [ </symbol>
            <expression>
              <term>
                <identifier> a </identifier>
              </term>
              <symbol> + </symbol>
              <term>
                <integerConstant> 1 </integerConstant>
              </term>
            </expression>
            <symbol> ] </symbol>
          </term>
          <symbol> = </symbol>
          <expression>
            <term>
              <integerConstant> 1 </integerConstant>
            </term>
          </expression>
          <symbol> ; </symbol>
        </letStatement>
        <returnStatement>
          <keyword> return </keyword>
          <symbol> ; </symbol>
        </returnStatement>
      </classStatements>
      <symbol> } </symbol>
    </subroutineBody>
  </subroutineDec>
  <symbol> } </symbol>
</class>
</test.xml>