function Main.main 3
push constant 3
call Vint.new 1
pop local 0
push constant 3
call Vint.new 1
pop local 1
push constant 3
call Vint.new 1
pop local 2
push local 0
push constant 0
push constant 3
call Vint.set 3
pop temp 0
push local 0
push constant 1
push constant 5
call Vint.set 3
pop temp 0
push local 0
push constant 2
push constant 11
call Vint.set 3
pop temp 0
push local 1
push constant 0
push constant 3
call Vint.set 3
pop temp 0
push local 1
push constant 1
push constant 5
call Vint.set 3
pop temp 0
push local 1
push constant 2
push constant 11
call Vint.set 3
pop temp 0
push local 2
push constant 0
push constant 11
call Vint.set 3
pop temp 0
push local 2
push constant 1
push constant 3
call Vint.set 3
pop temp 0
push local 2
push constant 2
push constant 5
call Vint.set 3
pop temp 0
push local 0
call Vint.len 1
call Output.printInt 1
pop temp 0
push constant 1
call String.new 1
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push local 0
push constant 1
call Vint.get 2
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push local 0
push local 1
call Vint.is_eq 2
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push local 1
push local 2
call Vint.elems 2
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push local 0
push constant 2
call Vint.resize 2
pop temp 0
push local 0
call Vint.print 1
pop temp 0
push constant 0
return