function max 3
    push argument 0
    push argument 1  ; a > b
    gt
    if-goto label_case_one

    push argument 0
    push argument 2  ; a > c
    gt
    if-goto label_case_one

    push argument 1  ; b > a
    push argument 0
    gt
    if-goto label_case_two

    push argument 1  ; b > c
    push argument 2
    gt
    if-goto label_case_two

    goto label_case_three   ; c > a && c > b

label_case_one:
    push argument 0
    return

label_case_two:
    push argument 1
    return

label_case_three:
    push argument 2
    return